.lists {
  display: grid;
  grid-row-gap: 16px;
}

/* Gaya media query untuk ukuran layar kecil */
@media screen and (max-width: 300px) {
  .modal {
    display: block;
  }

  .profile-img {
    width: 55%;
    height: auto;
  }

  .list-item_img {
    height: 250px;
    transition: height 1s;
  }
}

@media screen and (max-width: 499px) {
  .hamburger {
    display: block;
    flex-direction: column;
    width: 50px;
    margin-right: 12px;
    font-weight: 350;
    font-size: 44px;
  }

  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    right: 0;

    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: left;
  }

  .profile-img {
    width: 150px;
  }

  .hero {
    background: url('/images/hero-image_2-small.jpg');
  }
}

@media screen and (min-width: 455px) {
  .headline__content {
    padding: 16px 16px;
  }

  .headline__title {
    font-size: 28px;
  }

  .headline__description {
    font-size: 16px;
  }

  .profile-img {
    width: 200px;
  }
}

@media screen and (min-width: 500px) {
  .header__menu {
    display: none;
  }
  .hero {
    background: url('/images/hero-image_2-large.jpg');
  }
}

/* @media screen and (max-width: 600px) {

} */

@media screen and (min-width: 650px) {
  .headline__content {
    margin: 0 auto;
    max-width: 650px;
  }

  .list-item_description {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }

}


/* @media screen and (max-width: 820px) {
.detail_img {
    width: 85%;
    transition: width 1s;
  }
} */

@media screen and (min-width: 800px) {
  .nav__list {
    max-width: 800px;
    margin: 0 auto;
  }
  
}

@media screen and (min-width: 900px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline__content {
    padding: 16px 32px;
  }

  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1000px;
  }

  .lists {
    max-width: 1200px;
  }
}
 